body {
    background-color: #dfe3ee; 
    color: #000000; 
    font-family: 'Times New Roman', Times, serif;
}


a {
    color: #aaaaaa;
}


h1, h2 {
    color: #6497b1;
    font-size: 2em; 
}

h2 {
    font-size: 1.5em; 
}


nav {
    background-color: #8b9dc3;
    padding: 10px; 
    margin-bottom: 30px;
}


nav a:hover {
    background-color: #f9f9f9;
}


nav a {
    color: #005b96;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

footer p {
    float: left;
}

footer p:last-child {
    float: right;
}

footer .clear {
    clear: both;
}


.imgl {
    float: left; margin: 10px; }

.clear {clear: both;}


.row {
    display: flex;
    margin-bottom: 20px; 
}

.column {
    flex: 1;
    padding: 20px; /* Space inside the containers */
    margin: 10px; /* Space between columns */
    background-color: #f0f0f0; /* Background color for columns */
    border-radius: 10px; /* Rounded corners */
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

form label, form input, form select, form textarea {
    margin-bottom: 10px;
}

form input[type="submit"] {
    align-self: flex-start;
}